<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no" />
  <!-- <link rel="shortcut icon" href="favicon.ico" /> -->
  <!-- <link rel="stylesheet" type="text/css" href="assets/main.css" /> -->
  <!-- <link rel="stylesheet" href="./assets/animate.min.css" /> -->
</head>
<body class="font-hei" ontouchstart="">
  <div id="app"></div>
  <script type="text/javascript" src="assets/vendor.js"></script>
  <script type="text/javascript" src="assets/main.js"></script></body>
</body>
</html>
